html {
    background: grey;
}

body {
    font-family:'Barlow', sans-serif;
    background: white;
    max-width: auto;
    margin: 0;
    color: rgb(49, 46, 46);
}

header, footer {
    background: maroon;
    color: white;
    padding: 20px 10px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: square inside;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #0e69e9;
}

header li {
    display: inline;
}

header h1, nav {
    display: inline-block;
}

header h1 {
    width: 70%;
}

main {
    width: 680px;
    display: inline-block;
    padding: 10px;
}

aside {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.product {
    box-sizing: border-box;
    border: 1px solid grey;
    width: 200px;
    margin: 5px;
    padding: 5px;
    display:inline-block ;
}

img {
    max-width: 100%;
}

.button {
    padding: 10px;
    display: inline-block;
}

.button:last-of-type {
    background-color: #0e69e9;
    color: white;
}

p:first-of-type {
    color: red;
}

/* Product detail page */
.product-detail {
    width: 660px;
}

.product-detail img {
    max-width: 50%;
    float: left;
}

#position {
    position: relative;
    top: 10px;
}

/* Contact Us */
form {
    padding: 10px;
    margin: 10px;
    width: 600px;
}

form > div {
    margin: 10px 0;
}

.inline label {
    display: inline-block;
    width: 100px;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    width: 400px;
}
